/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;

  --color-white: white;
  --color-success: green;
  --color-error: red;
  --color-bg-header--dark: rgb(94, 93, 80);
  --color-border-light: #ececec;
  --color-bg-light: #f4f1f1;
  --color-bg-footer: #3e3d3d;

  --size-carousel-nav-item: 64px;
  --size-product-card-height: 21rem;
  --size-padding-x-card: .7rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Noto Sans JP', sans-serif;
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Colors */

.bg-light {
    background: var(--color-bg-light);
}
.bg-white {
    background: var(--color-white);
}

.fc-white {
    color: var(--color-white);
}
.fc-dark {
    color: rgb(17, 17, 17)
}

/* Fonts  */

.fs-100 {
    font-size: 0.5rem;
}
.fs-200 {
    font-size: 0.7rem;
}
.fs-300 {
    font-size: 1rem;
}

.fs-400 {
    font-size: 1.2rem;
}

.bold {
    font-weight: 800;
}

/* sizes */

.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}



.pad-y-030 {
    padding-top: .3rem;
    padding-bottom: .3rem;
}
.pad-r-030 {
    padding-right: .3rem;
}
.pad-y-050 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.pad-l-050 {
    padding-left: .5rem;
}

.pad-x-100 {
    padding-left:1rem;
    padding-right:1rem;
}
.pad-y-100 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pad-y-200 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.pad-100 {
    padding: 1rem;
}


.gap-025 {
    gap: .25rem
}
.gap-050 {
    gap: .5rem
}
.gap-100 {
    gap: 1rem
}

/* messages */

.message {
    position: absolute;

    padding: .5rem 4rem;

    font-weight: bold;

    left: 50%;
    transform: translate(-50%);
    top: 20%;

    opacity: 0;

    cursor: pointer;
}

.message[tags="success"] {
    color: var(--color-success);
    border: 1px solid var(--color-success);
    border-radius: 8px;
    background-color: rgba(0, 128, 0, 0.175);
}

.message[tags="error"] {
    color: var(--color-error);
    border: 1px solid var(--color-error);
    border-radius: 8px;
    background-color: rgba(128, 26, 0, 0.175);
}

.message-show {
    animation: message-show 3s;
}

@keyframes message-show {
    0% {
        opacity: 0;
        top: -10%;
    }
    10% {
        opacity: 1;
        top: 7rem;
    }
    100% {
        opacity: 1;
        top: 7rem;
    }
}

/* header || navbar */

.header {
    background: var(--color-bg-header--dark);
    color: var(--color-white);
}

.primary-navigation {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Satisfy', cursive;
    text-decoration: none;
    color: var(--color-white);
    font-size: 2.4rem;
    font-weight: bold;
    text-shadow: 3px 2px 4px black;
    width: 20%;
}


/* Navigation Search Form */

.navigation-form {
    width: 60%;
}

.search-form {
    position: relative;
    display: flex;
    width: 80%;
    max-width: 720px;
    margin: auto;
    box-shadow: 2px 2px 4px #0000008a;
}

.search-input {
    border: none;
    background: white;
    width: 100%;
    font-size: 0.7rem;
    padding: 0 .5rem;
}

.search-input:focus {
    outline: none;
}

.search-button {
    position: relative;
    border: none;
    background: white;
    cursor: pointer;
    font-family: sans-serif;
}

.search-button::before {
    content: '';
    border-left: .5px solid rgba(128, 128, 128, 0.367);
}

.search-button > i {
    font-size: 0.7rem;
    padding: 0 0.5rem;

}

.search-button:hover,
.search-button:focus {
    background-color: rgb(234, 234, 234);
    outline: none;
}

.search-button:active {
    background-color: rgb(234, 234, 234);
    opacity: 0.7;
}

.suggestions[aria-hidden="true"] {
    display: none;
}

.suggestions {
    position: absolute;
    color: black;
    top: 0;
    background: var(--color-white);
    top: 28px;
    width: 100%;
    font-size: .7rem;
    border: 1px solid rgba(0, 0, 0, 0.269);
}

.suggestions > ul > li {
    cursor: pointer;
}

.suggestions > ul > li[data-active=true] {
    background: lightblue
}

.navigation-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 20%;
    gap: 1rem;
}

/* Navigation wrapper */

/* Hamburger */

.secondary-navigation-toggle {
    display: block;
    position: relative;
    width: 1rem;
}

@media (min-width: 50em) {
    .secondary-navigation-toggle {
        display: none;
    }
}

.navigation-toggle-button {
    position: absolute;
    background: none;
    border: none;
    width: 1rem;
    height: 100%;
    cursor: pointer;
}

.hamburger {
    position: relative;
    opacity: 1;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--color-white);
    width: 1rem;
    height: 2px;
    border-radius: 4px;

    transition: all .3s;
}

.hamburger::before {
    top: -6px;
    left: 0;
}

.hamburger::after {
    top: 6px;
    left: 0;
}

.hamburger[data-active] {
    background: transparent;
}

.hamburger[data-active]::before{
    top: 0;
    transform: rotate(225deg);
}

.hamburger[data-active]::after {
    top: 0;
    transform: rotate(-225deg);
}

@media (min-width: 50em) {
    .primary-navigation-toggle {
        display: none;
    }
}

/* User */

.account-access {
    display: none;
}

.account-access > div {
    position: relative;
}

@media (min-width: 50em) {
    .account-access {
        display: flex;
        align-items: center;
        gap: .3rem;
    }
    .account-access > a:hover{
        opacity: .7;
    }
}

.user-options-toggle {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    transition: all .3s;
}

.user-options-toggle[data-active] {
    transform: rotate(180deg);
    padding-bottom: 3px;
}

.user-options {
    z-index: 1;
}

.user-options > ul > li > a{
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: all .1s;
}

.user-options > ul > li > a:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 0.529);
}

@media (min-width: 50em) {
    .user-options {
        display: none;
    }
    .user-options[data-active] {
        display: block;
        position: absolute;
        width: 10rem;
        right: 0;
        top: 24px;
        background: var(--color-white);
        border: 1px solid rgba(0, 0, 0, 0.269);
        text-align: right;
    }
}

/* Basket */

.basket-access {
    position: relative;
}

.in-cart-shopping {
    position: absolute;
    width: 16px;
    height: 16px;
    right: -8px;
    top: -8px;
    background: red;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.in-cart-shopping  span {
    font-size: 12px;
}

/* Secondary Navigation */

.navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navigation-item > a {
    text-decoration: none;
}


/* Utility classes */

.header-container {
    width: 95%;
    margin-inline: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* Carousel */

/* .carousel {
    position: relative;
    height: 100%;
}

.carousel-classic {
    position: relative;
    width: 100%;
    height: 22rem;
    z-index: -1;
}

.carousel-item {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    left: -100%;
}
.carousel-item[data-status='moving'] {
    display: block;
}

.carousel-item[data-status='active'] {
    display: block;
    left: 0;
}

.carousel-item[data-animation='to-left'] {
    animation: to_left 300ms;
}

.carousel-item[data-animation='from-left'] {
    animation: from_left 300ms;
}

.carousel-item[data-animation='to-right'] {
    display: block;
    animation: to_right 300ms;
}

.carousel-item[data-animation='from-right'] {
    animation: from_right 300ms;
}

@keyframes to_left {
    0% {left: 0%}
    100% {left: -100%;}
}

@keyframes from_left {
    0% {left: 100%}
    100% {left: 0%;}
}

@keyframes to_right {
    0% {left: 0%}
    100% {left: 100%;}
}

@keyframes from_right {
    0% {left: -100%}
    100% {left: 0%;}
}

.carousel-navigation-item {
    position: absolute;
    width: var(--size-carousel-nav-item);
    height: var(--size-carousel-nav-item);

    cursor: pointer;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    transition: 200ms all ease-in;

    background-color: rgb(222, 221, 221);
    color: inherit;
}


@media (min-width: 70em) {
    .carousel-navigation-item{
        background-color: transparent;
        color: transparent;
    }

    .carousel-navigation-item[data-visible='true'] {
        background-color: rgb(222, 221, 221);
        color: inherit;
    }
}

.carousel-navigation-item > div {
    position: relative;
    height: 100%;
    width: 100%;
}

.half-left,
.half-right {
    width: calc(var(--size-carousel-nav-item) / 2);
}

.half-left {
    border-radius: var(--size-carousel-nav-item) 0 0 var(--size-carousel-nav-item);
}

.half-right {
    border-radius: 0 var(--size-carousel-nav-item) var(--size-carousel-nav-item) 0;
}

.carousel-left {
    left: 0;
}

.carousel-right {
    right: 0;
}

.card-top-fixed {
    top: calc(var(--size-product-card-height) / 2);
}

.card-left-fixed {
    left: calc(-1 * var(--size-carousel-nav-item) / 2 + var(--size-padding-x-card));
}

.card-right-fixed {
    right: calc(-1 * var(--size-carousel-nav-item) / 2 + var(--size-padding-x-card));
}

@media (min-width: 70em) {
    .card-left-fixed {
        left: calc(-1 * var(--size-carousel-nav-item) / 2);
    }

    .card-right-fixed {
        right: calc(-1 * var(--size-carousel-nav-item) / 2);
    }
}

.carousel-navigation-arrow {
    position: absolute;
    right: var(--right-position, none);
    left: var(--left-position, none);
    top: 50%;
    transform: translateY(-50%);
    font-size: calc(var(--size-carousel-nav-item) * .375);
}

.carousel-bullets {
    position: absolute;
    width: 80px;
    height: 24px;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.carousel-bullets > div {
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-radius: 100%;
    cursor: pointer;
    transition: 500ms;
}

.carousel-bullets > div[data-active='true'] {
    background-color: rgba(255, 255, 255, 0.616);
    width: 12px;
    height: 12px;
} */

/* Products Cards */

.flex-row {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;

    --item-per-row: 2;
}

@media (min-width: 50em) {
    .flex-row {
        --item-per-row: 3;
    }
}

@media (min-width: 70em) {
    .flex-row {
        --item-per-row: 4;
    }
}

.test-box {
    width: calc(100% / var(--item-per-row));
    height: var(--size-product-card-height);
    flex-shrink: 0;
}

.test-box:hover {
    height: calc(var(--size-product-card-height) * 1.2);
}

.product-card {
    cursor: pointer;
    height: 100%;
    padding: 0 var(--size-padding-x-card);

    transform: translateX(calc(var(--slide-to-left, 0) * 1%));
    transition: 500ms transform ease-in-out;

    display: flex;
}


.product-card__inner {
    display: flex;
    flex-direction: column;
    height: 100%;

    background-color: white;
    height: 90%;
    align-self: center;
    flex-grow: 1;

    border: 1px solid var(--color-border-light);
    border-radius: 8px;
}

.product-card__inner:hover {
    box-shadow: 2px -1px 13px #8080801c;
}

.product-card__inner-top,
.product-card__inner-bottom {
    padding: 1rem 0.4rem;
}

@media (min-width: 50em) {
    .product-card__inner-top,
    .product-card__inner-bottom {
        padding: 1rem;
    }
}

.product-card__inner-top {
    height: 60%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid var(--color-border-light);
}

.product-card__inner-top > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.product-card__inner-bottom {
    overflow: hidden;
    height: 40%;
}

.carousel-slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.product-price__strikethrough {
    color: grey;
}

.product-price__discount {
    color: var(--color-success);
}

.product-price__strikethrough {
    text-decoration-line: line-through;
}

.product-title {
    margin-top: 0.3rem;
    font-weight: lighter;
    overflow: hidden;
    max-height: 5rem;
}

.section-title {
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
}

@media (min-width: 70em) {
    .section-title {
        font-size: 4rem;
    }
}


/* Categories Section */

.category-list {
    --columns-count: 2;
    display: grid;
    grid-template-columns: repeat(var(--columns-count), 1fr);
}

.category-list:nth-last-child(2){
    background-color: red;
}

@media (min-width: 50em) {
    .category-list {
        --columns-count: 3;
    }
}

@media (min-width: 70em) {
    .category-list {
        --columns-count: 4;
    }
}

.category-list__item {
    height: 4rem;
}

.category-list__item:nth-last-child(1){
    grid-column-end: 0;
}

.category-list__item__inner {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: lighter;
    font-size: .7rem;
    text-align: center;

    border-radius: 8px;
    border: 1px solid var(--color-border-light);
    background: #f4f4f4;

    cursor: pointer;
}

.category-list__item__inner > span {
    padding: 0 .4rem;
}

@media (min-width: 70em) {
    .category-list__item__inner {
        font-size: .9rem;
    }

    .category-list__item__inner:hover {
        opacity: .7;
        font-weight: bolder;
    }
}

/* Footer */

.footer {
    margin-top: 2rem;
    padding: 3rem 1rem;
    background-color: var(--color-bg-footer);
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    text-align: center;
}

@media (min-width: 50em) {
    .footer-content {
        grid-template-columns: repeat(3, 1fr);
        text-align: left;
    }
}

.footer-content__item-title {
    font-weight: bold;
    font-size: .9rem;
}

.footer-content__item-body {
    padding-top: .5rem;
    font-size: .7rem;
    font-weight: lighter
}

.footer-content__item-body > ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer-content__item-body > ul > li > a:hover {
    color: orange;
}

.icon-container {
    display: flex;
    flex-direction: row !important;
    gap: 2rem !important;
    justify-content: center;
}

@media (min-width: 50em) {
    .icon-container {
        justify-content: flex-start;
    }
}

.icon {
    fill: white;
    width: 1.5rem;
    height: 2rem;
    cursor: pointer;
}


.icon:hover {
    fill: orange;
}

.card-h {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    cursor: pointer;

    transition: 100ms ease-in-out;
}

.card-h:hover {
    background: rgb(249, 249, 249);
}

.card-h__left {
    border: 1px solid var(--color-border-light);
    height: 10rem;
    transition: 300ms ease-in-out;
}

.card-h__left:hover {
    padding: .5rem;
}

.card-h__left > img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.card-h__right {
    grid-column: span 3;
    border: 1px solid var(--color-border-light);
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

