{% extends 'base_nav_footer.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
<script src="{% static 'js/carouselControllers.js' %}" type="module" defer></script>
<script src="{% static 'js/categoryControllers.js' %}" defer></script>
{% endblock %}

{% block content %}
    <section id="banners">
      <div id="carousel-banners">
        <div>
          <div>
            <img src="https://marketplace.canva.com/EAEvi_nhSkQ/1/0/1600w/canva-turquoise-blue-shoes-realistic-product-promotion-banner-yDiR6ULRWC0.jpg" alt="banner-2" style="object-fit: fill; width: 100%; height: 100%;">
          </div>
          <div>
            <img src="https://as1.ftcdn.net/v2/jpg/04/46/80/98/1000_F_446809888_VOtTlJ4t1GnCoQNNDYjHPX1vzq8VB8JL.jpg" alt="banner-2" style="object-fit: fill; width: 100%; height: 100%;">
          </div>
          <div>
            <img src="https://static.vecteezy.com/system/resources/previews/011/320/988/non_2x/big-sale-banner-design-with-podium-gradient-background-social-media-post-product-advertisement-design-special-discount-design-vector.jpg" alt="banner-2" style="object-fit: fill; width: 100%; height: 100%;">
          </div>
          <div>
            <img src="https://as1.ftcdn.net/v2/jpg/05/00/84/60/1000_F_500846091_uFzs2mQdNPasCweiErxjhJz08y6CUJtw.jpg" alt="banner-2" style="object-fit: fill; width: 100%; height: 100%;">
          </div>
        </div>
      </div>
    </section>

    <section class="section-products pad-y-200 bg-light">
      <div class="container" style="height: 100%;">
        <div class="section-title">
          <h1>Offers</h1>
        </div>
        <div id="carousel-offers">
          <div>
            {% for product in offers_products %}
              <div>
                <div class="product-card">
                  <div class="product-card__inner">
                    <div class="product-card__inner-top">
                      {% if product.image_external %}
                        <img src="{{product.image_external}}" class="product_image"/>
                      {% else %}
                        <img src="{% get_media_prefix %}{{product.image}}" class="product_image"/>
                      {% endif %}
                    </div>
                    <div class="product-card__inner-bottom">
                      <p class="product-price">
                        <span class="product-price__offer fs-400">${{ product.offer_price }}</span>
                        <span class="product-price__strikethrough fs-200">${{ product.price }}</span>
                        <span class="product-price__discount fs-200 bold">{{ product.discount }}% OFF</span>
                      </p>
                      <p class="product-title fs-200">
                        {{ product.title }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
      </div>
    </section>

    <section class="section-products pad-top-200 pad-bot-400 bg-white">
      <div class="container" style="height: 100%;">
        <div class="section-title">
          <h1>By Category</h1>
        </div>
        <div class="pad-100">
          <ul role="list" class="category-list gap-050">
            {% for category in categories %}
            <li class="category-list__item">
              <div
                class="category-list__item__inner h-100 w-100"
                data-href="{{ category.get_absolute_url }}"
                tabindex="{{ forloop.counter0 }}"
                role="link"
              >
                <span>{{ category.name }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>
{% endblock %}
