{% extends 'base.html' %}

{% load static %}

{% block content %}

  <section id="banners">
    <div id="carousel-banners">
      <div>
        <div style="background-color: rgb(183, 85, 85);"></div>
        <div style="background-color: rgb(43, 43, 165);"></div>
        <div style="background-color: rgb(66, 170, 66);"></div>
        <div style="background-color: rgb(209, 209, 73);"></div>
      </div>
    </div>
  </section>

  <section class="product-offers">
    <div class="container" style="height: 16rem;">
      <div id="carousel-offers">
        <div>
          <div style="background-color: rgb(183, 85, 85);"></div>
          <div style="background-color: rgb(43, 43, 165);"></div>
          <div style="background-color: rgb(66, 170, 66);"></div>
          <div style="background-color: rgb(209, 209, 73);"></div>
          <div style="background-color: rgb(183, 85, 85);"></div>
          <div style="background-color: rgb(43, 43, 165);"></div>
          <div style="background-color: rgb(66, 170, 66);"></div>
          <div style="background-color: rgb(209, 209, 73);"></div>
        </div>
      </div>
    </div>

  </section>

  <!-- <ul>
    {% for product in products %}
      {% if product.image_external %}
        <img src="{{product.image_external}}" class="product_image" width="100" height="100"/>
      {% else %}
        <img src="{% get_media_prefix %}{{product.image}}" class="product_image" width="100" height="100"/>
      {% endif %}
      <li>{{ product.title }} | ${{ product.price }}</li>
      <a href="{{ product.get_absolute_url }}">View</a>
      <br>

    {% endfor %}
  </ul> -->

  <!-- {% if is_paginated %}
    {% if page_obj %}
      <ul style="display: flex; gap: .5rem; list-style: none;">

        {% if page_obj.has_previous %}
          <li><a href="/?page={{ page_obj.previous_page_number }}">&lt;&lt;</a></li>
        {% endif %}
        <li>
        {% for page in pages %}
          <a
            href="/?page={{page}}"
            {% if page == page_obj.number %}
              style="font-weight:bold;"
            {%endif%}>
            {{ page }}
          </a>
        {% endfor %}
        </li>
        {% if page_obj.has_next %}
          <li><a href="/?page={{ page_obj.next_page_number }}">&gt;&gt;</a></li>
        {% endif %}

      </ul>
    {% endif %}
  {% endif %}

  <a href="{% url 'store:product_create' %}">Add Product</a> -->
  <script src="{% static 'js/carouselControllers.js' %}" type="module"></script>

{% endblock %}


