{% extends 'base_nav_footer.html' %}

{% load static %}

{% load basket_tags %}

{% block head %}
<title>eCom | Summary </title>
<script src="{% static 'js/basketElements.js' %}" defer></script>
<script src="{% static 'js/basketControllers.js' %}" defer></script>
{% endblock %}

{% block content %}
  {% with px_img_value="100" %}
  <section class="basket-container pad-bot-400" id="items-in-basket" style="--px-img-value: {{ px_img_value }}">
    <form action="" method="post">
      {% csrf_token %}
      <div class="basket-table gap-100">
        <div class="flex-column basket-column aling-self-start">
          <div class="flex-row basket-row bold" data-role="title">
            <div class="basket-cell" data-role="title" data-column="item"><div><h2>Item</h2></div></div>
            <div class="basket-cell" data-role="title" data-column="price"><div><h2>Price</h2></div></div>
            <div class="basket-cell" data-role="title" data-column="quantity"><div><h2>Quantity</h2></div></div>
            <div class="basket-cell" data-role="title" data-column="subtotal"><div><h2>Subtotal</h2></div></div>
          </div>

          {% for product in basket %}
          <div class="flex-row basket-row lighter" data-role="content">
            <div class="basket-cell flex-row gap-100" data-role="content" data-column="item">
              <div class="w-40 h-100">
                {% if product.product.image_external %}
                  <img src="{{ product.product.image_external }}" alt="product_image" class="w-100 object-fit-contain" width="{{ px_img_value }}" height="{{ px_img_value }}"/>
                {% else %}
                  <img src="{% get_media_prefix %}{{ product.product.image }}" alt="product_image" class="w-100 object-fit-contain" width="{{ px_img_value }}" height="{{ px_img_value }}"/>
                {% endif %}
              </div>
              <div class="w-60 h-100">
                <p>{{ product.product.title|title }}</p>
              </div>
            </div>
            <div class="basket-cell" data-role="content" data-column="price"><div><p>${{ product.product.price }}</p></div></div>
            <div class="basket-cell" data-role="content" data-column="quantity">
              <div>
                <select class="pad-x-050" name="" id="qty-select" data-product-id="{{ product.product.id }}">
                  {% for i in product.total_item_qty|quantity_range %}
                    {% if i == product.total_item_qty %}
                      <option value="{{ i }}" selected>{{ i }}</option>
                    {% else %}
                      <option value="{{ i }}">{{ i }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="basket-cell flex-column aling-items-center justify-content-between" data-role="content" data-column="subtotal">
              <div>
                <p>${{ product.total_item_price }}</p>
              </div>
              <div>
                <button class="button-romeve-item-basket bold" value="{{ product.product.id }}">REMOVE</button>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

        <div
          id="purchase-summary"
          class="flex-column basket-column aling-self-start"
          style="
            --custom-border-color: grey;
            --custom-background-color: rgb(223, 223, 223);
          "
        >
          <div class="flex-row basket-row lighter justify-content-between" data-role="title">
            <div class="basket-cell"><div><h2>Subtotal</h2></div></div>
            <div class="basket-cell" id="subtotal"><div><h2>${{ basket.get_total_price }}</h2></div></div>
          </div>
          {% if user.is_authenticated %}
          <div class="flex-row pad-y-200  lighter" data-role="title">
            <div class="basket-cell w-100">
              <div class="checkout-form flex-column gap-100 fs-200 w-100">
                <div class="flex-row gap-050 aling-items-center">
                  <h2 class="bold">Recipient Information</h2>
                </div>
                <div class="flex-column gap-050" data-visible="false">
                  {% for field in form %}
                    {% if field.label != 'Shipping method' %}
                      <div class="flex-column summary-input-information">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                          <ol style="padding-left: 1rem;">
                          {% for error in field.errors %}
                              <li style="color: red; font-size: .8rem;">{{ error }}</li>
                          {% endfor %}
                          </ol>
                        {% endif %}
                      </div>
                      <hr>
                    {% endif %}
                  {% endfor %}
                  <div class="flex-column summary-input-information">
                    {{ form.shipping_method.label_tag }}
                    <select name="shipping_method" id="id_shipping_method" required>
                      {% for value, text in form.fields.shipping_method.choices %}
                        {% if text.obj %}
                          <option value="{{ value }}" data-price="{{ text.obj.price }}">{{ text.obj }} + ${{ text.obj.price }}</option>
                        {% else %}
                          <option value="{{ value }}" data-price="0">{{ text }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-row basket-row justify-content-between bold" data-role="title">
            <div class="basket-cell"><div><h2>Total</h2></div></div>
            <div class="basket-cell" id="total"><div><h2>${{ basket.get_total_price }}</h2></div></div>
          </div>
          {% endif %}
          <div class="flex-row checkout-container">
            <button class="button-checkout bold fs-250">CHECKOUT</button>
          </div>
        </div>
      </div>
    </form>
  </section>
  {% endwith %}

  <script>
    var urlBasketUpdate = '{% url "basket:basket_update" %}'
    var urlBasketDelete = '{% url "basket:basket_delete" %}'
    var csrfToken = '{{ csrf_token }}'
  </script>
{% endblock %}
